.git
.hg
.svn

*.pyc

*.pyo

*.cache
*.sublime-project
*.DS_Store
*History.sublime-settings
/User/UntitledFiles
/User/Gist.sublime-settings
Colorized-*.tmTheme
/Desktop.ini
/*.sync.db*
/*.sublime-workspace

SFTP.errors.log
!/SFTP/SFTP.pyc
