[submodule "Color Scheme - DobDark"]
	path = Color Scheme - DobDark
	url = git@github.com:charlesroper/DobDark-tmTheme.git
[submodule "ExtremeCSS"]
	path = ExtremeCSS
	url = https://github.com/grassator/ExtremeCSS.tmbundle.git
[submodule "Theme - Nil"]
	path = Theme - Nil
	url = https://github.com/nilium/st2-nil-theme.git
[submodule "MarkdownEditing"]
	path = MarkdownEditing
	url = ../MarkdownEditing.git
[submodule "ZenCoding"]
	path = ZenCoding
	url = https://github.com/sublimator/ZenCoding.git
