[submodule "Color Scheme - DobDark"]
	path = Color Scheme - DobDark
	url = git@github.com:charlesroper/DobDark-Theme.git
[submodule "ExtremeCSS"]
	path = ExtremeCSS
	url = ssh://git@github.com/grassator/ExtremeCSS.tmbundle.git
[submodule "Theme - Nil"]
	path = Theme - Nil
	url = ssh://git@github.com/nilium/st2-nil-theme.git
[submodule "ZenCoding"]
	path = ZenCoding
	url = ssh://git@github.com/sergeche/zencoding-sublime.git
